lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
src_managed/
project/project
project/target
project/
target/
testData/
Source/
Result/
bin/
tmpFolder/
.settings/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.DS_Store
.cache
.classpath
.project
.history
